.swInterface {
    background-color: black;
    color: yellow;
    height: 20vh;
    width: 100vw;
/*    bottom: 0vh;*/
    position: fixed;
    top: 0;
    z-index: 10000;
    border-bottom: 5px dashed yellow;

/*    box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.9);*/
}