.filtersContainer {
/*    background-color: palevioletred;*/
    display: flex;
    flex-direction: row;
    margin: .4em;
/*    margin-right: 2em;*/
    border: 2px dashed darkorange;
    border-radius: 10px;
    padding: .4em;
}


@media (max-width: 800px) {
    .filtersContainer { margin: .1em    }
    
}