.filtersContainer {
/*    background-color: palevioletred;*/
    display: flex;
    flex-direction: row;
    margin: .4em;
/*    margin-right: 2em;*/
    border: 2px dashed darkorange;
    padding: .4em;
}


