/*========================================================
 This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to get'em.
 ========================================================*/

.profileBox {
    background-image: url(../../../../assets/images/pw_maze_black.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: .5em;
    padding: .5em;
    border: 2px dashed darkorange;
    border-radius: 15px;
    width: 20em;

    
}
