.App {
    background-color: black;
    min-height: 100vh;
    background-image:url(./assets/images/asteroids.jpg);
    background-repeat: repeat;
/*    animation: backgroundScroll 90s linear infinite;*/
  
}


/*
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -537px 0;}
}
*/


